<%= render "form" %>
<p></p>
<p>There was a problem accessing a resource:</p>

<p>message: <%= message %></p>

<p>This product uses the US National Weather Service API. Only US addresses are supported.</p>